:root {
	--color-primary: #00274C;
	--color-on-primary: white;
	--color-secondary: #333333;
	--color-on-background: black;
	--border-radius: 10px;
	--font-family: Roboto;
	--animation-ease-in-time: .5s;

	--hamburger-color-primary: white;
	--hamburger-color-on-primary: black;
	--hamburger-color-accent: var(--hamburger-color-on-primary);
	--hamburger-height: 50px;
	--hamburger-border: 2px solid var(--color-on-primary);
}

@import "./reset.css";

h1,
title {
	margin: auto;
}

h1 {
	font-size: 1.5em;
	font-weight: 800;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-weight: 600;
	font-size: 1.3em;
}

p {
	line-height: 1.3em;
}

section.instructions {
	font-size: 1.2em;
}

html {
	font-family: sans-serif;
}

header,
footer {
	background-color: var(--color-primary);
	min-height: var(--hamburger-height);
}

.viewport {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	display: flex;
	flex: 1;
}

/* ---------- Hamburger Menu ----------  */
.hamburger-menu {
	display: flex;
	justify-content: center;
	z-index: 1000;
}

.hamburger-menu button:focus,
.hamburger-menu a:focus {
	border: 2px dashed var(--color-on-primary);
	outline: none;
}

.hamburger-menu .hamburger-title-container {
	display: flex;
	box-sizing: border-box;
	text-align: center;
	height: var(--hamburger-height);
}

.hamburger-menu .title-bar {
	box-sizing: border-box;
	color: var(--color-on-primary);
	flex-grow: 1;
}

.hamburger-menu .title-bar.expanded {
	display: block;
	height: auto;
}

.hamburger-menu nav {
	position: absolute;
	left: 0%;
	border-right: var(--hamburger-border);
	background-color: var(--color-secondary);
	color: var(--color-on-primary);
	width: fit-content;
	min-width: 300px;
}

.hamburger-menu nav ul {
	border-bottom: var(--hamburger-border);
}

.hamburger-menu nav a:after {
	content: ">";
	padding-left: 1em;
}

.hamburger-menu nav a.active:after {
	content: "";
	padding-left: 1em;
}

.hamburger-menu nav a,
.hamburger-menu nav span {
	text-decoration: none;
	margin: .5em;
	color: var(--color-on-primary);
}

.hamburger-menu nav a.active,
.hamburger-menu nav li.active {
	cursor: default;
}

.hamburger-menu .title-bar ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

.hamburger-menu nav>ul li ul.open {
	display: block;
}

.hamburger-menu nav li.active,
.hamburger-menu nav li.inactive {
	margin: .2em .2em .2em 2em;
	cursor: pointer;
}

.hamburger-menu nav li {
	margin: .2em;
	padding: 0;
}

.hamburger-menu nav a:hover {
	outline: 2px solid var(--color-on-primary);
}

.mobile {
	display: none;
}

button.hamburger {
	background-color: transparent;
	border-right: var(--hamburger-border);
	cursor: pointer;
	padding: 0px;
	padding-block: 0px;
}

.icon {
	width: var(--hamburger-height);
	min-width: var(--hamburger-height);
	height: var(--hamburger-height);
}

button.three-dots {
	background-color: transparent;
	border-left: var(--hamburger-border);
}

button.three-dots-later {
	background-image: radial-gradient(circle, var(--hamburger-color-on-primary) 3px, transparent 5px);
	background-size: 100% 33.33%;
	cursor: pointer;
}

.hamburger-line {
	fill: none;
	stroke: var(--color-on-primary);
	stroke-width: 8;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-line1 {
	stroke-dasharray: 55 207;
}

.hamburger-line2 {
	stroke-dasharray: 55 60;
}

.hamburger-line3 {
	stroke-dasharray: 55 207;
}

.opened .hamburger-line1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
}

.opened .hamburger-line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
}

.opened .hamburger-line3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
}

.hidden {
	visibility: hidden;
	display: none;
}

.opened.three-dots {
	background-size: 33.33% 100%;
}

/* ---------- Post List ----------  */
.moba11y-post-list {
	display: inline-block;
}

.moba11y-post-list ol {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	list-style: none;
	margin: .5em;
	padding: 0;
}

@media (max-width: 1290px) {
	.moba11y-post-list ol {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 860px) {
	.moba11y-post-list ol {
		grid-template-columns: 1fr;
	}
}

.moba11y-post-list ol li {
	margin: .5em;
	width: fit-content;
}

/* ---------- Post Card ----------  */
.moba11y-post-card {
	font-family: var(--font-family);
	max-width: 400px;
	border-style: solid;
	border-width: 4px;
	border-color: var(--color-primary);
	transition: all var(--animation-ease-in-time) ease;
}

.moba11y-post-card:focus-within {
	border-style: dashed;
}

.moba11y-post-card figure {
	margin: 0;
	background-color: var(--color-primary);
}

.moba11y-post-card figure img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.moba11y-post-card:focus-within,
.moba11y-post-card:focus-within img,
.moba11y-post-card:hover,
.moba11y-post-card:hover figure img {
	border-radius: var(--border-radius);
}

.moba11y-post-card figure figcaption {
	margin: auto;
	text-align: center;
	justify-content: center;
	color: var(--color-on-primary);
	padding: .2em;
}

.moba11y-post-card .title {
	font-size: 1.5em;
	font-weight: normal;
	margin: .5em;
	justify-content: center;
	text-align: center;
}

.moba11y-post-card a {
	text-decoration: none;
	color: var(--color-on-background);
}

.moba11y-post-card a:focus {
	outline: none;
}

.moba11y-post-card .author {
	margin: .5em;
}

/* ---------- Buttons ----------  */
button.moba11y-button {
	display: inline-block;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: .5rem;
	background-color: var(--color-primary);
	color: var(--color-on-primary);
	border: 2px solid var(--color-on-primary);
	transition: all var(--animation-ease-in-time) ease;
	text-decoration: none;
	border-radius: 8px;
}

/* ---------- iOS Simulator ----------  */
.moba11y-ios-simulator {
	display: flex;
	width: 100%;
}

section {
	height: 100%;
}

.moba11y-ios-simulator section {
	margin: 0;
}

section.device {
	display: flex;
}

section.device>div {
	display: flex;
	flex-direction: column;
	border-radius: 20px;
}

section.instructions {
	margin: 0;
	border-left: 1px solid grey;
	box-shadow:
		0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}

section.instructions h2 {
	width: 100%;
	text-align: center;
	padding: .2em;
	border-bottom: 1px solid grey;
	background-color: #F0EFF6;
}

section.instructions div {
	padding-left: 1em;
	padding-right: 1em;
}

section.instructions ol,
section.instructions ul {
	margin: 1em;
	line-height: normal;
}

div.screen {
	min-height: 800px;
}

div.screen,
div.screen label,
div.screen input {
	cursor: pointer;
}

div.screen .grid-layout {
	margin: 0 auto;
}

div.screen,
div.simulator,
div.inspector {
	display: flex;
	flex-direction: column;
	width: 400px;
	border-radius: 20px;
	margin: .5em;
	border: 8px solid black;
	background-color: white;
}

div.simulator {
	background-color: black;
	color: white;
}

div.caption-panel {
	margin: .2em;
}

div.simulator div.accessibility-element {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background-color: white;
	margin-right: .2em;
	margin-bottom: .2em;
}

div.accessibility-element li {
	display: flex;
	margin: 1em;
	align-items: center;
}

div.accessibility-element li span strong {
	min-width: 5em;
	display: inline-block;
}

/* ---------- Tags ----------  */
.moba11y-tag-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
}

ul.moba11y-tag-list li {
	margin: 0;
	margin-right: .5em;
	margin-top: .25em;
	margin-bottom: .25em;
	border-style: solid;
	border-width: 1px;
	border-color: var(--color-primary);
	border-radius: var(--border-radius);
}

ul.moba11y-tag-list li.active {
	border-style: dashed;
}

.moba11y-tag-list li span {
	margin: 2px .5em;
	display: inline-block;
}

div.simulator div.voiceover-announcement {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 1em;
	border-radius: 10px;
	border: 2px solid black;
	padding: 1em;
	background-color: white;
	color: black;
}

div.simulator div.voiceover-controls {
	margin: auto;
	margin-top: 0;
}

div.voiceover-announcement div {
	padding-right: 1em;
}

div.voiceover-announcement svg {
	width: 35px;
	height: 35px;
}

div.simulator div.controls {
	display: grid;
	justify-content: space-between;
	grid-template-columns: 1fr 1fr 1fr;
	margin: auto;
	row-gap: 10px;
	column-gap: 10px;
}

div.controls button.moba11y-button {
	width: 74px;
	height: 74px;
	padding: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}

div.controls button.moba11y-button div {
	position: relative;
	top: -46px;
	font-size: .8em;
}

div.simulator {
	width: 400px;
}

div.simulator h2,
div.inspector h2 {
	font-size: 1.2em;
	margin: .5em auto;
}



div.simulator div div h3 {
	font-weight: 600;
	margin: .2em auto;
}

div.simulator div.voiceover-controls {
	display: flex;
	flex-direction: row;
}


/* ---------- iOS Simulator ----------  */
.ios.large-title,
.ios.large-title h2 {
	font-size: 1.3em;
}

.ios.title-1,
.ios.title-1 h2 {
	font-size: 1.2em;
}

.ios.title-2 {
	font-size: 1.1em;
}

.ios.headline {
	font-size: 1em;
}

.ios.body {
	font-size: 1em;
}

.ios.callout {
	font-size: .8em;
}

.ios.subhead {
	font-size: .8em;
}

.ios.footnote {
	font-size: .8em;
}

.ios.caption-1 {
	font-size: .8em;
}

.ios.caption-2 {
	font-size: .8em;
}

.screen div {
	display: flex;
}

.screen .accessibility-focus {
	box-shadow: 0 0 0 4px black;
	outline: none;
	border-radius: 4px;
	transition: box-shadow 0.2s ease;
}

.accessibility-element {
	padding: 4px;
	margin: 4px;
	width: fit-content;
	height: fit-content;
}

.ios.grid-layout {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: .1em auto;
}

.ios.launcher-icon {
	display: flex;
	flex-direction: column;
}

.ios.launcher-icon div {
	width: 4em;
	overflow-wrap: break-word;
	display: inline-block;
	text-align: center;
}

.ios.launcher-icon svg {
	margin: 0 auto;
}

.ios.text-view,
.ios.pager {
	margin: 8px auto;
}

.ios.pager div span {
	width: 1em;
	height: 1em;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	background-color: white;
	margin: 4px;
}

.ios.pager div span.active {
	background-color: black;
}

table {
	padding: .5em;
	margin: .5em;
	align-items: center;
	text-align: center;
	border-collapse: collapse;
}

th,
tr,
td {
	padding: .75em;
}

tr {
	border-bottom: 4px solid var(--color-primary);
}

blockquote {
	border-left: 5px solid var(--color-primary);
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	background-color: #DDDDDD;
}

blockquote p {
	display: inline;
}

@media (max-width: 680px) {

	blockquote,
	.kg-callout-text {
		margin: auto;
	}
}

.ios.text-field {
	margin: .5em;
}

.ios.text-field div,
.ios.text-field label {
	margin: auto 4px;
}

.instructions ol {
	list-style: auto;
	list-style-position: inside;
	margin: auto;
}