/* ---------- Post List ----------  */
.moba11y-post-list {
	display: inline-block;
}

.moba11y-post-list ol {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	list-style: none;
	margin: .5em;
	padding: 0;
}

@media (max-width: 1290px) {
	.moba11y-post-list ol {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 860px) {
	.moba11y-post-list ol {
		grid-template-columns: 1fr;
	}
}

.moba11y-post-list ol li {
	margin: .5em;
	width: fit-content;
}

/* ---------- Post Card ----------  */
.moba11y-post-card {
	font-family: var(--font-family);
	max-width: 400px;
	border-style: solid;
	border-width: 4px;
	border-color: var(--color-primary);
	transition: all var(--animation-ease-in-time) ease;
}

.moba11y-post-card:focus-within {
	border-style: dashed;
}

.moba11y-post-card figure {
	margin: 0;
	background-color: var(--color-primary);
}

.moba11y-post-card figure img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.moba11y-post-card:focus-within,
.moba11y-post-card:focus-within img,
.moba11y-post-card:hover,
.moba11y-post-card:hover figure img {
	border-radius: var(--border-radius);
}

.moba11y-post-card figure figcaption {
	margin: auto;
	text-align: center;
	justify-content: center;
	color: var(--color-on-primary);
	padding: .2em;
}

.moba11y-post-card .title {
	font-size: 1.5em;
	font-weight: normal;
	margin: .5em;
	justify-content: center;
	text-align: center;
}

.moba11y-post-card a {
	text-decoration: none;
	color: var(--color-on-background);
}

.moba11y-post-card a:focus {
	outline: none;
}

.moba11y-post-card .author {
	margin: .5em;
}