:root {
	--hamburger-color-primary: white;
	--hamburger-color-on-primary: black;
	--hamburger-color-accent: var(--hamburger-color-on-primary);
	--hamburger-height: 50px;
	--hamburger-border: 2px solid var(--hamburger-color-accent);
	--font-family-hamburger: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

body {
	margin: 0;
}

.hamburger-menu button:focus,
.hamburger-menu a:focus {
	border: 2px dashed var(--hamburger-color-on-primary);
	outline: none;
}

.hamburger-menu {
	position: absolute;
	left: 5%;
	right: 5%;
	margin: 10px auto;
	display: flex;
	font-family: var(--font-family-hamburger);
	justify-content: center;
	z-index: 1000;
}

.hamburger-menu .hamburger-title-container {
	display: flex;
	box-sizing: border-box;
	text-align: center;
	height: var(--hamburger-height);
	border: var(--hamburger-border);
	background-color: var(--hamburger-color-primary);
}

.hamburger-menu .title-bar {
	box-sizing: border-box;

	flex-grow: 1;
	max-width: 600px;
}

.hamburger-menu .title-bar.expanded {
	display: block;
	height: auto;
}

.hamburger-menu .title-bar h2 {
	margin: auto;
	font-weight: 300;
	color: var(--hamburger-color-on-primary);
}

.hamburger-menu nav {
	border-left: var(--hamburger-border);
	border-right: var(--hamburger-border);
	width: fit-content;
}

.hamburger-menu nav ul {
	border-bottom: var(--hamburger-border);
}

.hamburger-menu nav h3 {
	font-size: 1em;
	font-weight: 500;
	padding-left: 1em;
	margin: 0;
	padding-top: .5em;
	color: var(--hamburger-color-on-primary);
}

.hamburger-menu nav a:after {
	content: ">";
	padding-left: 1em;
}

.hamburger-menu nav a.active:after {
	content: "";
	padding-left: 1em;
}

.hamburger-menu nav a,
.hamburger-menu nav span {
	text-decoration: none;
	color: var(--hamburger-color-on-primary);
	background-color: var(--hamburger-color-primary);
	margin: .5em;
}

.hamburger-menu nav a.active,
.hamburger-menu nav li.active {
	cursor: default;
}

.hamburger-menu .title-bar ul {
	margin: 0;
	list-style: none;
	background-color: var(--hamburger-color-primary);
	padding: 0;
}

.hamburger-menu nav>ul li ul.open {
	display: block;
}

.hamburger-menu nav li:has(a),
.hamburger-menu nav li:has(span) {
	margin: auto 1em auto 2em;
	margin-bottom: 4px;
	cursor: pointer;
}

.hamburger-menu nav li {
	margin: 0;
	padding: 0;
}

.hamburger-menu nav a:hover {
	outline: 2px solid var(--hamburger-color-on-primary);
}

.mobile {
	display: none;
}

button.hamburger {
	background-color: var(--hamburger-color-primary);
	border: var(--hamburger-border);
	border-right: 0px solid var(--hamburger-color-accent);
	cursor: pointer;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	padding: 0px;
	padding-block: 0px;
}

.icon {
	width: var(--hamburger-height);
	min-width: var(--hamburger-height);
	height: var(--hamburger-height);
}

button.three-dots {
	background-color: var(--hamburger-color-primary);
	border: 2px solid var(--hamburger-color-accent);
	border-left: none;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	margin-right: 1em;
}

button.three-dots-later {
	background-image: radial-gradient(circle, var(--hamburger-color-on-primary) 3px, transparent 5px);
	background-size: 100% 33.33%;
	cursor: pointer;
}

.hamburger-line {
	fill: none;
	stroke: var(--hamburger-color-on-primary);
	stroke-width: 8;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-line1 {
	stroke-dasharray: 55 207;
}

.hamburger-line2 {
	stroke-dasharray: 55 60;
}

.hamburger-line3 {
	stroke-dasharray: 55 207;
}

.opened .hamburger-line1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
}

.opened .hamburger-line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
}

.opened .hamburger-line3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
}

.hidden {
	visibility: hidden;
	display: none;
}

.opened.three-dots {
	background-size: 33.33% 100%;
}